@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic presets */
@layer base {
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }

  body {
    font-family: "Public Sans", sans-serif;
    line-height: 1.6;
    font-weight: 300;
    font-size: 1.8rem;
  }

  img {
    max-width: 100%;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
}

/* This is for the id's and classes */
@layer components {
  /* Herosection */
  .hero-img {
    background-image: url("../images/bg-intro-desktop.svg");
    background-position: 53%;
    background-size: 800px 400px;
    background-repeat: no-repeat;
  }
}
